@* @model User  *@  @* Model not need here - using Session!!! *@

@{
    int currUid = (int)Context.Session.GetInt32("currUid");
    string currUname = Context.Session.GetString("currUname");
    @* dont forget ViewImports: @using Microsoft.AspNetCore.Http *@
}

    <div class="text-center font-weight-bold txOlive">
        <h3>S U C C E S S!</h3>

        <h5>Welcome, @currUname! </h5>
        <small>UserId: @currUid</small>
    </div>



    @* <table class="table table-striped">
        <thead class="thead-light">
            <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            </tr>
        </tbody>
    </table> *@